$viewHeight: 30rem;

body {
	background: linear-gradient(135deg,#2980b9,#ecf0f1);
}

@mixin sm {
 	@media  (max-width: 30rem) {
    width: 90%;
    margin-left:-45%;
	}	
 } 

.center{
    position: absolute;
    top: 50%;
    left: 50%;
}

.text--special {
  	background-color: #34495e;
	padding: .2rem;
	border-radius: .2rem;
	color: white;
}

.wrap {
	@extend .center;
	background-color: transparent;
    height: $viewHeight;
    width: 50%;
    margin-top: -15rem;
    margin-left:-25%;
    text-align: center;
	// font-size: 1.5rem;
	@include sm;
}


.view {
	background-color: transparent;
	display: none;	height: inherit;
	max-height: $viewHeight;
	margin-top: -2rem;
	overflow-y: scroll;
}

.view__list {
	list-style-type: none;
	text-align: left;
    padding-left: .7rem;
    margin-right: .4rem;
}
a {
			color: black;
	   text-decoration: none;
}
.list-item{
	font-size: 14px;
	margin-top: .5rem;
    background-color: white;
    border-radius: .3rem;
	padding: .5rem;
	cursor: pointer;

	&:hover {
	background-color: lighten(#3498db, 35%);
	}
}

.info {
	text-align: left;
	margin-top: -6.5rem;
    top: 50%;
    z-index: -1;
    position: absolute;
    border: .1rem solid #2F83BA;
    border-radius: .3rem;
    padding: .5rem;
    background-color: #FFF;
	transition: .2s ease all;
    > h2 {
    	margin: 0;
    	color: black;
    	// color: #ecf0f1;
    }
    > p {
    	margin: 0;
    	color: #333;
    }

    @media (max-width: 30rem) {
    		margin-top: -8.5rem;
    }

}

.btn {
	background-color: #1abc9c;
	padding: .2rem;
	border-radius: .2rem;
	font-size: .8rem;
	cursor: pointer;
	color: white;
}


.search-box {
	// background-color: #aaa;
	position: absolute;
	@extend .center;
	transition: .5s ease all;
	text-align: center;
    height: 2rem;
    border: none;
    width: 100%;
    margin-left: -50%;
    margin-top: -1rem;
    @include sm;
}

.ran-btn{
	@extend .btn;
	position: absolute;
	right: .1rem;
	bottom: .3rem;
}

.clear-btn {
	@extend .btn;
	background-color: #c0392b;
	position: absolute;
	right: 2rem;
	bottom: .3rem;
	display: none;
}

.search-bar {
	width: 100%;
	height: 100%;
    border: .1rem solid #2F83BA;
	text-align: center;
	font-size: 1.5rem;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

// html, body {
//     height:100%;
//     // width: 100%;
// }